asgiref==3.8.1
certifi==2024.7.4
boto3
botocore=1.21.22
chardet==5.2.0
charset-normalizer==3.3.2
dj-database-url==2.2.0
Django==3.2
django-heroku==0.3.1
django-storages==1.11.1
django-widget-tweaks==1.5.0
gunicorn==22.0.0
dlib
opencv-python==4.10.0.84
pillow==10.3.0
psycopg2==2.9.9
psycopg2-binary==2.8.6
python-decouple==3.4
reportlab==4.2.0
requests==2.32.3
sqlparse==0.5.0
urllib3==2.2.2
whitenoise==6.7.0
