<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
    <div class="container">
        <section class="footer-bottom border-top text-center navbar-nav">
            <p class="text-muted"> &copy; 2024 BeiDenti | Todos los derechos reservados</p>
        </section>
        <ul class="navbar-nav">
            <li><a href="{% url 'contacto' %}" class="nav-link"> <i class="fa fa-envelope"></i> Contacto </a></li>
        </ul>

        
    </div><!-- //container -->
    
</footer>
<!-- ========================= FOOTER END // ========================= -->
