{% extends "base.html" %}
{% block content %}
<div class="card">
    <div class="row no-gutters">
        <aside class="col-md-6">
            <article class="gallery-wrap"> 
                <div class="img-big-wrap">
                   <a href="#"><img src="{{ servicio.imagen.url }}" alt="Imagen del servicio"></a>
                </div> <!-- img-big-wrap.// -->
            </article> <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-md-6 border-left">
            <article class="content-body">
                <h2 class="title">{{ servicio.nombre_servicio }}</h2>

                <div class="mb-3"> 
                    <var class="price h4">${{ servicio.precio }}</var> 
                </div> 

                <p>{{ servicio.descripcion }}</p>

                <hr>
                <div class="row">
                    <div class="item-option-select">
                        <h6>Seleccionar Cita</h6>
                        <form method="post" action="{% url 'add_to_cart' servicio.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="fecha">Fecha</label>
                                <select id="fecha" name="fecha" class="form-control">
                                    <option value="">Seleccione una fecha</option>
                                    {% for dia, horas in horarios_disponibles.items %}
                                        <option value="{{ dia }}">{{ dia }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="hora">Hora</label>
                                <select id="hora" name="hora" class="form-control">
                                    <option value="">Seleccione una hora</option>
                                    {% for hora in horas %}
                                        <option value="{{ hora }}">{{ hora }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="duracion">Duración (en horas)</label>
                                <input type="number" id="duracion" name="duracion" class="form-control" min="1" value="{{ servicio.duracion }}" readonly>
                            </div>
                            <button type="submit" class="btn btn-primary">Agregar al carrito</button>
                        </form>
                    </div>
                </div> <!-- row.// -->
            </article> <!-- product-info-aside .// -->
        </main> <!-- col.// -->
    </div> <!-- row.// -->
</div> <!-- card.// -->
{% endblock %}
