{% extends "base.html" %}

{% block content %}
<h2>Lista de Productos</h2>
<a href="{% url 'agregar_producto' %}" class="btn btn-primary mb-3">Agregar Producto</a>
<form method="post">
    {% csrf_token %}
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Descripción</th>
                <th>Umbral</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>
                    <input type="number" name="cantidad_{{ producto.id }}" value="{{ producto.cantidad }}" class="form-control" min="0">
                </td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.umbral }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>
{% endblock %}
